# Binary firmware files and archives
*.zip
*.tar
*.tar.md5
*.lz4
*.img
*.bin
*.pit
*.apk
ACR-*/
odin4*
SmartPack-Kernel-Manager

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Temporary / OS files
.DS_Store
*.tmp
Image
Image.gz
kernel_build/
kernel_build
a06-integrity-shield/
boot_logo_custom_*/
tools/a06_shield/obj/
mkm-a06/
